* {
    margin: 0;
    font-family: arial;
    text-transform: capitalize;
    border: border-box;
    border: none;
    transition: all 0.7s ease-out;
}


a {
    text-decoration: none;
    color: white;
}

main {
    background-color: #e6e7e6;
}

.nav-bar {
    height: 3.75rem;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    height: 3.125rem;
    width: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.625rem;
}

.logo {
    background-image: url("./logo2.jpg");
    height: 3.125rem;
    width: 100%;
    background-size: cover;
}

.border {
    border: 0.1125rem solid transparent;
    border-radius: 0.625rem;
}

.border:hover {
    border: 0.1125rem solid white;
    border-radius: 0.25rem;
    transition: all 0.001s ease;
}

/* -- box 2 --*/
.add-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a1 {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 1.25rem;
}

.a {
    font-size: 1rem;
    margin: 2px;
}

/* -- box 3 --*/
.nav-search {
    display: flex;
    height: 2.5rem;
    width: 50vw;
    border-radius: 0.3125rem;
    justify-content: space-between;
    border: none;
}

.nav-search :hover {
    border: 0.25rem solid #febd68;
    box-shadow: -0.3125rem 0.3125rem 0.3125rem gray;
    transition: all 0.001s ease;
}

.sec-select {
    background-color: #f3f3f3;
    width: 3.125rem;
    text-align: left;
    text-transform: capitalize;
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    border: none;
    background-color: #e6e6e6;
}

.sec-select option {
    background-color: white;
    font-size: 0.9375rem;
    font-weight: 300;
}

.sec-input {
    width: 90%;
    font-size: 1rem;
}

.sec-icon {
    width: 2.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    font-size: 1.2rem;
}

/* box 4*/
.nav-sign {
    display: flex;
    flex-direction: column;
}

.nav-return {
    display: flex;
    flex-direction: column;
}

.s1 {
    font-size: 0.7rem;
}

.s2 {
    font-size: 0.9rem;
    font-weight: 700;
}

/* box 6*/
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    margin-right: 0.9375rem;
}

.nav-cart i {
    font-size: 2.1875rem;
}


/*---PANEL----*/
.panel {
    height: 2.5rem;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.pan-all {
    margin-left: 0.9375rem;
}

.pan-opt a {
    display: inline-block;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.pan-opt {
    width: 80%;
    font-size: 0.85rem;
}

.pan-deals {
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 0.9375rem;
}

/* ---HERO SECTION --*/
.hero-sec {
    height: 48.75rem;
    width: 100vw;
    background-image: url("./BGimg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;

}

.hero-msg {
    background-color: rgba(13, 93, 147, 0.5);
    color: white;
    /* background: transparent;
    backdrop-filter: blur(10px); */
    font-weight: 500;
    height: 2.5rem;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: absolute;
    top: 25.625rem;

}

.hero-msg a {
    color: #f6f2f7;
    text-decoration: none;
    margin-left: 0.5rem;
}


/*--- shop section ---*/

.shop-sec1 {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 30rem;
    background-color: #e2e7e6;
    background: transparent;
    backdrop-filter: blur(10px);

}

.shop-sec2 {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 56.25rem;
    background-color: #e2e7e6;

}


.box {
    height: 25rem;
    margin: 1rem 1rem 1rem 1rem;
    width: 21.875rem;
    background-color: rgba(255, 255, 255, 0.82);
}

.box:hover {
    scale: 1.05;
    transition: all 0.7s ease;
}

.shop-sec1 a {
    text-decoration: none;
    margin: 1rem;
    color: rgb(43, 121, 121);
    font-size: 1.1rem;
}

.shop-sec2 a {
    text-decoration: none;
    margin: 1rem;
    color: rgb(43, 121, 121);
    font-size: 1.1rem;
}

.shop-sec1 h2 {
    text-align: center;
    position: relative;
    top: 0.5rem;
}

.shop-sec2 h2 {
    text-align: center;
    position: relative;
    top: 0.5rem;
}

.simg {
    height: 18.75rem;
    width: 20rem;
    background-size: cover;
    margin: 1rem
}

.shop-img1 {
    background-image: url("./med.jpg")
}

.shop-img2 {
    background-image: url("./fsh.jpg")
}

.shop-img3 {
    background-image: url("./fur.jpg")
}

.shop-img4 {
    background-image: url("./mob.jpg")
}

.shop-img5 {
    background-image: url("./kit.jpg")
}

.shop-img6 {
    background-image: url("./pets.jpg")
}

.shop-img7 {
    background-image: url("./drw.jpg")
}

.shop-img8 {
    background-image: url("./gym.jpg")
}

/*--- footer---*/

footer {
    margin-top: 1.25rem;
    position: absolute;
    top: 82.5rem;
}

.foot-p1 {
    background-color: #37475a;
    height: 3.125rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-p1 a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

.foot-p2 {
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    height: 25rem;
}

.foot-p2 p {
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

.foot-p2 a {
    font-size: 0.875rem;
    color: rgb(221, 221, 221);
    display: block;
    margin-top: 0.625rem;
}

.foot-p2 ul {
    margin-top: 2.5rem;
}

.foot-p3 {
    border-top: 0.03125rem solid rgba(255, 255, 255, 0.5);
    height: 4.375rem;
    width: 100vw;
    color: white;
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ind {
    border: 0.0625rem solid white;
    border-radius: 0.3125rem;
    width: 5rem;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5625rem;
}

#iflag {
    height: 0.9375rem;
    width: 1.40625rem;
    margin-right: 0.3125rem;
    margin-left: 0.1875rem;
}

.foot-p4 {
    height: 4.6875rem;
    width: 100vw;
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    display: block;

    padding-top: 1.5625rem;
}

.pages a {
    margin: 0.625rem;
}

.cpyr {
    padding-top: 0.3125rem;
}

.phone {
    visibility: hidden;
}

