* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.375rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
.amzlogo {
    height: 4.375rem;
    width: 15.625rem;
    background-image: url("/project-any-website-cloning-using-html-and-css-Shivam-6383/.gitignore/wlogo.jpg");
    background-size: cover;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
}

/* main body */
.main {
    height: 21.875rem;
    width: 19.0625rem;
    padding: 1.25rem 1.625rem 1.25rem 1.625rem;
    border: 0.0625rem solid rgba(128, 128, 128, 0.388);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    height: 1.875rem;
    width: 18.5rem;
    font-size: 1.375rem;
    font-family: arial;
    color: #0f1111;
    font-weight: 300;
    margin-top: 0.3125rem;
}

.p1 {
    height: 1.25rem;
    width: 18.5rem;
    color: #0f1111;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.9375rem;
}

#input {
    height: 2rem;
    width: 17.1875rem;
    padding: 0.0625rem 0.375rem;
    margin-top: 0.3125rem;
}

button {
    height: 2rem;
    width: 18.375rem;
    font-size: 1rem;
    background-color: #febd68;
    border: 0.0625rem solid transparent;
    margin-top: 0.625rem;
    border-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

/* link section of main block*/
.p2 {
    height: 2rem;
    width: 100%;
    margin: 1.25rem 0;
    font-size: 0.9375rem;
    color: #0f1111;
}

.p3 {
    height: 1.25rem;
    width: 100%;
    margin-bottom: 1.875rem;
}

.p3 a {
    height: 1.0625rem;
    width: 4.375rem;
    font-size: 1rem;
    color: #2162A1;
    text-decoration: none;

}

.buss {
    height: 3.75rem;
    width: 100%;
    margin-top: 0;
}

.buss h4 {
    margin: 1.25rem 0 0.625rem 0;
    color: #0f1111;
}

.p4 {
    height: 1.0625rem;
    width: 100%;
}

.p4 a {
    text-decoration: none;
    color: #2162A1;
    font-size: 1rem;
}

/* footer part */
footer {
    margin: 3.125rem 0 1.5rem;
    height: 4.625rem;
    width: 100vw;
    font-size: 0.8125rem;
    text-align: center;
    align-content: center;
}

.link {
    margin: 1.25rem 0 0.625rem 0;
}

footer a {
    font-size: 0.75rem;
    margin-left: 1.25rem;
    text-decoration: none;
    font-size: 1rem;
    color: #2162A1;
}