* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
.amzlogo {
    height: 70px;
    width: 250px;
    background-image: url("/project-any-website-cloning-using-html-and-css-Shivam-6383/.gitignore/wlogo.jpg");
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* main body */
.main {
    height: 350px;
    width: 305px;
    padding: 20px 26px 20px 26px;
    border: 1px solid rgba(128, 128, 128, 0.388);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    height: 30px;
    width: 296px;
    font-size: 22px;
    font-family: arial;
    color: #0f1111;
    font-weight: 300;
    margin-top: 5px;
}

.p1 {
    height: 20px;
    width: 296px;
    color: #0f1111;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}

#input {
    height: 32px;
    width: 275px;
    padding: 1px 6px;
    margin-top: 5px;
}

button {
    height: 32px;
    width: 294px;
    font-size: 16px;
    background-color: #febd68;
    border: 1px solid transparent;
    margin-top: 10px;
    border-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

/* link section of main block*/
.p2 {
    height: 32px;
    width: 100%;
    margin: 20px 0px;
    font-size: 15px;
    color: #0f1111;
}

.p3 {
    height: 20px;
    width: 100%px;
    margin-bottom: 30px;
}

.p3 a {
    height: 17px;
    width: 70px;
    font-size: 16px;
    color: #2162A1;
    text-decoration: none;
    position: relative;
    right: 110px;
}

.buss {
    height: 60px;
    width: 100%;
    margin-top: 0px;
}

.buss h4 {
    margin: 20px 0px 10px 0px;
    color: #0f1111;
}
.p4 {
    height: 17px;
    width: 100%px;
}
.p4 a {
    text-decoration: none ;
    color: #2162A1;
    font-size: 16px;
}

/* footer part */
footer {
    margin: 50px 0px 24px;
    height: 74px;
    width: 100vw;
     font-size: 13px;
    text-align: center;
    align-content: center;
}
.link {
    margin: 20px 0px 10px 0px;
}
footer a {
    font-size: 12px;
    margin-left: 20px;
    text-decoration: none;
    font-size:16px;
    color: #2162A1;
}
