* {
    margin: 0px;
    font-family: arial;
    text-transform: capitalize;
    border: border-box;
    border: none;
    transition: all 0.7s ease-out;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: #e6e7e6;
}

.nav-bar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.logo {
    background-image: url("/Shivam-6383.github.io/logo2.jpg");
    height: 50px;
    width: 100%;
    background-size:cover;
}

.border {
    border: 1.8px solid transparent;
    border-radius: 10px;
}

.border:hover {
    border: 1.8px solid white;
    border-radius: 4px;
    transition: all 0.001s ease;
}

/* -- box 2 --*/
.add-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a1 {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;
}

.a {
    font-size: 1rem;
    margin: 2px;
}

/* -- box 3 --*/
.nav-search {
    display: flex;
    height: 40px;
    width: 50vw;
    border-radius: 5px;
    justify-content: space-between;
    border: none;
}

.nav-search :hover {
    border: 4px solid #febd68;
    box-shadow: -5px 5px 5px gray;
    transition: all 0.001s ease;
}

.sec-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: left;
    text-transform: capitalize;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: #e6e6e6;
}

.sec-select option {
    background-color: white;
    font-size: 15px;
    font-weight: 300;
}

.sec-input {
    width: 90%;
    font-size: 1rem;
}

.sec-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
}

/* box 4*/
.nav-sign {
    display: flex;
    flex-direction: column;
}

.nav-return {
    display: flex;
    flex-direction: column;
}

.s1 {
    font-size: 0.7rem;
}

.s2 {
    font-size: 0.9rem;
    font-weight: 700;
}

/* box 6*/
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    margin-right: 15px;
}

.nav-cart i {
    font-size: 35px;
}


/*---PANEL----*/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.pan-all {
    margin-left: 15px;
}

.pan-opt a {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.pan-opt {
    width: 80%;
    font-size: 0.85rem;
}

.pan-deals {
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 15px;
}

/* ---HERO SECTION --*/
.hero-sec {
    height: 780px;
    width: 100vw;
    background-image: url("/Shivam-6383.github.io/BGimg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;

}

.hero-msg {
    background-color: rgba(13, 93, 147, 0.5);
    color: white;
    /* background: transparent;
    backdrop-filter: blur(10px); */
    font-weight: 500;
    height: 40px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: absolute;
    top: 410px;

}

.hero-msg a {
    color: #f6f2f7;
    text-decoration: none;
    margin-left: 8px;
}


/*--- shop section ---*/

.shop-sec1 {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 480px;
    background-color: #e2e7e6;
    background: transparent;
    backdrop-filter: blur(10px);

}

.shop-sec2 {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 900px;
    background-color: #e2e7e6;

}


.box {
    height: 400px;
    margin: 1rem 1rem 1rem 1rem;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.82);
}

.box:hover {
    scale: 1.05;
    transition: all 0.7s ease;
}

.shop-sec1 a {
    text-decoration: none;
    margin: 1rem;
    color: rgb(43, 121, 121);
    font-size: 1.1rem;
}

.shop-sec2 a {
    text-decoration: none;
    margin: 1rem;
    color: rgb(43, 121, 121);
    font-size: 1.1rem;
}

.shop-sec1 h2 {
    text-align: center;
    position: relative;
    top: 0.5rem;
}

.shop-sec2 h2 {
    text-align: center;
    position: relative;
    top: 0.5rem;
}

.simg {
    height: 300px;
    width: 320px;
    background-size: cover;
    margin: 1rem
}

.shop-img1 {
    background-image: url("/Shivam-6383.github.io/med.jpg")
}

.shop-img2 {
    background-image: url("/Shivam-6383.github.io/fsh.jpg")
}

.shop-img3 {
    background-image: url("/Shivam-6383.github.io/fur.jpg")
}

.shop-img4 {
    background-image: url("/Shivam-6383.github.io/mob.jpg")
}

.shop-img5 {
    background-image: url("/Shivam-6383.github.io/kit.jpg")
}

.shop-img6 {
    background-image: url("/Shivam-6383.github.io/pets.jpg")
}

.shop-img7 {
    background-image: url("/Shivam-6383.github.io/drw.jpg")
}

.shop-img8 {
    background-image: url("/Shivam-6383.github.io/gym.jpg")
}

/*--- footer---*/

footer {
    margin-top: 20px;
    position: absolute;
    top: 1320px;
}

.foot-p1 {
    background-color: #37475a;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-p1 a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

.foot-p2 {
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}

.foot-p2 p {
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.foot-p2 a {
    font-size: 14px;
    color: rgb(221, 221, 221);
    display: block;
    margin-top: 10px;
}

.foot-p2 ul {
    margin-top: 40px;
}

.foot-p3 {
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    height: 70px;
    width: 100vw;
    color: white;
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ind {
    border: 1px solid white;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

#iflag {
    height: 15px;
    width: 22.5px;
    margin-right: 5px;
    margin-left: 3px;
}

.foot-p4 {
    height: 75px;
    width: 100vw;
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    display: block;

    padding-top: 25px;
}

.pages a {
    margin: 10px;
}

.cpyr {
    padding-top: 5px;
}